/* get timeline color config from __config.yml */
.wall-bg,
.wall-bg::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.wall-bg::before {
  z-index: 2;
  content: ' ';
  background-color: rgba(255,255,255,0.95);
  transition: background-color 200ms ease-in;
}
.wall-main:hover+.wall-bg::before {
  background-color: rgba(255,255,255,0.8);
}
.wall-main:hover+.wall-bg .cursor {
  animation: spark 1s ease infinite;
}
.wall-main {
  cursor: pointer;
  position: relative;
  text-align: center;
  margin-top: -20vh;
  z-index: 3;
}
.wall-title {
  font-weight: 600;
  font-size: 72px;
  animation: flyIn 500ms ease-out;
}
.wall-subtitle {
  font-size: 36px;
  font-weight: bold;
  margin-top: 10px;
}
.wall-description {
  font-size: 20px;
  font-weight: 400;
  margin: 10px 0;
  font-family: sourceHanSerif;
  letter-spacing: 0.2em;
}
#heart-curve {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -200px;
}
.hello-world {
  position: absolute;
  top: calc(50% - 80px);
  right: calc(50% + 230px);
  font-size: 30px;
  display: flex;
  align-items: flex-end;
  width: 220px;
}
.hello-world .cursor {
  height: 2px;
  width: 20px;
  background-color: #555;
}
.normal-eqt {
  position: absolute;
  top: calc(50% + 100px);
  right: 50%;
  opacity: 0.8;
}
.motto {
  font-size: 28px;
  font-weight: bold;
  right: 0;
  bottom: calc(50% - 200px);
  position: absolute;
  opacity: 0.3;
}
.poem {
  font-size: 18px;
  position: absolute;
  font-family: sourceHanSerif;
  left: 50%;
  top: calc(50% + 80px);
  opacity: 0.2;
}
.about {
  max-width: 900px;
  margin: 200px auto;
  display: flex;
  justify-content: space-between;
}
.about-photo {
  width: 300px;
  height: 450px;
  background: url("") center center/cover no-repeat;
  margin: 0 10px;
  transition: all 200ms ease-out;
}
.about-photo:hover {
  box-shadow: 0 0 14px 0 #eee;
  transform: translateY(-4px);
}
.about-text {
  font-weight: bold;
  font-family: sourceHanSerif;
}
.about-title {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin: 40px 0;
}
.about-detail {
  font-size: 20px;
  line-height: 2em;
  letter-spacing: 0.3em;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about-text-p {
  padding: 20px 10px;
}
.timeline {
  max-width: 1100px;
  margin: 300px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.timeline-head {
  display: flex;
  justify-content: center;
  align-items: center;
}
.timeline-head .title {
  font-size: 40px;
  font-weight: bold;
}
.radio-wrapper {
  display: flex;
  align-items: flex-end;
  margin: 0 10px;
}
.radio {
  position: relative;
  width: 20px;
  margin: 0 10px;
  height: 40px;
}
.radio>label {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  margin: auto;
}
.radio>input {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  margin: auto;
}
.radio-skin,
.radio-skin--article,
.radio-skin--app,
.radio-skin--event {
  height: 100%;
  width: 2px;
  border-radius: 1px;
  background: #ccc;
  transition: all 0.4s ease;
}
.radio-skin::after,
.radio-skin--article::after,
.radio-skin--app::after,
.radio-skin--event::after {
  transition: all 0.4s ease;
  display: block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #fafafa;
  border: 2px solid transparent;
  box-sizing: border-box;
  content: '';
  position: absolute;
  left: -9px;
  top: 22px;
  box-shadow: 1px 0 5px rgba(0,0,0,0.2);
}
.radio-skin--article::after {
  border-color: #ee936c;
}
#radio-article:checked+.radio-skin--article {
  background-color: #ee936c;
}
#radio-article:checked+.radio-skin--article::after {
  background-color: #ee936c;
  top: -2px;
}
.timeline-item-article .line-anchor::after,
.timeline-item-article--hidden .line-anchor::after {
  background-color: #ee936c;
}
.timeline-item-article .line-date-tag,
.timeline-item-article--hidden .line-date-tag {
  background-color: #ee936c;
}
/*
  .timeline-item-app, .timeline-item-event {
    font-weight: bold;
  }
  */
.radio-skin--app::after {
  border-color: #60a465;
}
#radio-app:checked+.radio-skin--app {
  background-color: #60a465;
}
#radio-app:checked+.radio-skin--app::after {
  background-color: #60a465;
  top: -2px;
}
.timeline-item-app .line-anchor::after,
.timeline-item-app--hidden .line-anchor::after {
  background-color: #60a465;
}
.timeline-item-app .line-date-tag,
.timeline-item-app--hidden .line-date-tag {
  background-color: #60a465;
}
/*
  .timeline-item-app, .timeline-item-event {
    font-weight: bold;
  }
  */
.radio-skin--event::after {
  border-color: #568dc4;
}
#radio-event:checked+.radio-skin--event {
  background-color: #568dc4;
}
#radio-event:checked+.radio-skin--event::after {
  background-color: #568dc4;
  top: -2px;
}
.timeline-item-event .line-anchor::after,
.timeline-item-event--hidden .line-anchor::after {
  background-color: #568dc4;
}
.timeline-item-event .line-date-tag,
.timeline-item-event--hidden .line-date-tag {
  background-color: #568dc4;
}
/*
  .timeline-item-app, .timeline-item-event {
    font-weight: bold;
  }
  */
.timeline-body {
  width: 100%;
}
.line-anchor::after {
  content: '';
  position: absolute;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  right: -9px;
  bottom: 0;
  left: -9px;
  top: 0;
  margin: auto;
  border: 2px solid #eee;
}
.line-anchor {
  position: relative;
  height: 20px;
  margin: 10px 4px;
  flex: 0 0 20px;
}
.line-date,
.line-title {
  flex: 1;
  display: flex;
  align-items: center;
}
.line-date {
  justify-content: flex-end;
}
.line-title .text-icon {
  margin: 0 8px;
}
.timeline-list {
  position: relative;
}
.timeline-list::before {
  position: absolute;
  content: '';
  top: -20px;
  left: 0;
  right: 0;
  bottom: -20px;
  margin: 0 auto;
  width: 2px;
  background-color: #eee;
  z-index: -1;
}
.timeline-post {
  text-decoration: none;
}
.timeline-item,
.timeline-item-first,
.timeline-item-last,
.timeline-item--hidden-first,
.timeline-item--hidden-last,
.timeline-item--hidden {
  width: 100%;
  display: flex;
  padding: 20px 0;
  justify-content: flex-start;
  align-items: center;
  font-size: 18px;
  overflow: hidden;
  transition: all 200ms ease-out;
  transition-delay: 200ms;
  height: 80px;
}
.timeline-item-first,
.timeline-item-first-first,
.timeline-item-last-first,
.timeline-item--hidden-first-first,
.timeline-item--hidden-last-first,
.timeline-item--hidden-first,
.timeline-item-last,
.timeline-item-first-last,
.timeline-item-last-last,
.timeline-item--hidden-first-last,
.timeline-item--hidden-last-last,
.timeline-item--hidden-last {
  height: auto;
  padding: 0;
  justify-content: center;
}
.timeline-item:nth-child(even),
.timeline-item-first:nth-child(even),
.timeline-item-last:nth-child(even),
.timeline-item--hidden-first:nth-child(even),
.timeline-item--hidden-last:nth-child(even),
.timeline-item--hidden:nth-child(even) {
  flex-direction: row-reverse;
}
.timeline-item:nth-child(even) .line-title,
.timeline-item-first:nth-child(even) .line-title,
.timeline-item-last:nth-child(even) .line-title,
.timeline-item--hidden-first:nth-child(even) .line-title,
.timeline-item--hidden-last:nth-child(even) .line-title,
.timeline-item--hidden:nth-child(even) .line-title {
  justify-content: flex-end;
}
.timeline-item:nth-child(even) .line-date,
.timeline-item-first:nth-child(even) .line-date,
.timeline-item-last:nth-child(even) .line-date,
.timeline-item--hidden-first:nth-child(even) .line-date,
.timeline-item--hidden-last:nth-child(even) .line-date,
.timeline-item--hidden:nth-child(even) .line-date {
  justify-content: flex-start;
}
.timeline-item--hidden {
  height: 0;
  padding: 0;
  transform: rotateX(90deg);
  opacity: 0;
}
.line-anchor--now,
.line-anchor--end {
  height: 40px;
  background: none;
}
.icon-anchor {
  position: absolute;
  left: -20px;
  right: -20px;
  height: 41px;
  width: 41px;
  top: 23px;
}
.line-anchor--end::after {
  background-color: #eee;
}
.line-anchor--now::after {
  border: 2px solid #eee;
}
.line-date-tag {
  display: inline-block;
  font-size: 14px;
  color: #fff;
  padding: 0 4px;
  border-radius: 3px;
}
@media (hover: none) {
  .wall-bg .cursor {
    animation: spark 1s ease infinite;
  }
}
@media screen and (max-width: 1023px) {
  .wall {
    height: calc(100vh - 60px);
  }
  .hello-world {
    left: 20px;
  }
  .about {
    margin: 100px auto;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .about-text {
    margin-bottom: 50px;
  }
  .about-detail {
    text-align: center;
  }
}
@media screen and (max-width: 415px) {
  .timeline {
    margin: 200px auto;
  }
  .timeline-list .timeline-item {
    flex-direction: column;
    height: auto;
  }
  .timeline-list .line-date {
    border-radius: 4px;
    border: 2px solid #f5f5f5;
  }
  .timeline-list .line-title {
    background: #fff;
    border-radius: 4px;
    border: 2px solid #f5f5f5;
    padding: 4px;
  }
  .about-detail {
    font-size: 18px;
  }
  .hello-world {
    top: 15%;
  }
  #heart-curve {
    top: 60%;
    right: 10%;
    width: 300px;
  }
  .normal-eqt {
    bottom: 14%;
    left: 40%;
    top: auto;
  }
  .normal-eqt img {
    width: 200px;
  }
}
@-moz-keyframes spark {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  51% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes spark {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  51% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes spark {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  51% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes spark {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  51% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes flyIn {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes flyIn {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@-o-keyframes flyIn {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes flyIn {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
