html {
  font-family: sans-serif;
  font-size: 18px;
  color: #555;
  text-align: justify;
  scroll-behavior: smooth;
}
html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
a {
  color: #555;
}
a:hover {
  color: #222;
}
blockquote {
  border-left: 4px solid #ddd;
  margin: 0;
  padding-left: 1em;
  color: #666;
}
iframe,
img,
video {
  max-width: 100%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 0.875em;
  width: 100%;
  margin: 0 0 20px;
}
caption,
td,
th {
  padding: 8px;
  vertical-align: middle;
  border: 1px solid #ddd;
}
caption {
  border: none;
}
th {
  border-bottom-width: 3px;
}
tbody tr:nth-of-type(odd) {
  background: $whitesoke-light;
}
figure figcaption {
  text-align: center;
  font-size: 0.8125em;
  color: $blak-lighter;
}
p img,
figure img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
.highlight figcaption {
  display: flex;
  justify-content: space-between;
  background: #eff2f3;
  padding: 0.1em 0.5em;
  font-size: 0.875em;
}
.highlight td {
  padding: 0;
  border: 0;
}
code {
  border-radius: 3px;
  font-size: 0.875em;
  padding: 2px 4px;
  overflow-wrap: break-word;
}
.hljs {
  display: block;
}
pre,
code {
  font-family: consolas, Menlo, monospace, 'PingFang SC', 'Microsoft YaHei';
}
pre.mermaid {
  background: none;
  text-align: center;
}
figure.highlight {
  margin: 20px 0;
  overflow: auto;
  position: relative;
  padding-top: 32px;
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0,0,0,0.15);
  line-height: 1.5em;
}
figure.highlight table {
  width: auto;
  border: 0;
  margin: 0;
}
figure.highlight::before {
  background: #fc625d;
  box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
  left: 12px;
  margin-top: -22px;
  position: absolute;
  border-radius: 50%;
  content: ' ';
  height: 12px;
  width: 12px;
}
figure.highlight .code pre {
  padding-left: 10px;
  width: 100%;
}
figure.highlight pre {
  border: 0;
  margin: 0;
  padding: 10px 0;
}
code,
pre,
figure.highlight {
  background-color: #f7f7f7;
}
.gutter {
  padding: 0;
}
figure.highlight .gutter pre {
  text-align: right;
  margin: 0;
  padding: 10px;
  color: #bbb;
  background-color: #eff2f3;
}
figure.highlight .copy-button {
  display: flex;
  position: absolute;
  align-items: center;
  top: 0;
  right: 16px;
  height: 32px;
  font-size: 12px;
  font-weight: 600;
  color: #888;
  cursor: pointer;
}
.wall {
  user-select: none;
  -webkit-user-select: none;
  height: calc(100vh - 90px);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
}
mjx-container {
  overflow: auto hidden;
}
.math.disply {
  display: block;
  overflow: auto hidden;
}
.wall-main {
  width: 100%;
}
.text {
  display: flex;
  align-items: center;
}
.text-icon {
  height: 20px;
  width: 20px;
}
.text-small {
  font-size: 0.875em;
}
.text-align {
  display: flex;
  align-items: center;
  vertical-align: middle;
}
.hover-line {
  position: relative;
}
.hover-line::after {
  transition: width 200ms ease-out;
  content: '';
  position: absolute;
  height: 2px;
  width: 0;
  left: 0;
  bottom: -2px;
  background-color: #000;
}
.hover-line:hover::after {
  width: 100%;
}
.paginator {
  display: flex;
  align-items: center;
}
.page-number.current {
  background-color: #333;
  color: #fff;
}
.page-number {
  text-decoration: none;
  color: #333;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 26px;
  width: 26px;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid #333;
  margin: 0 8px;
  transition: all 200ms ease-out;
}
.page-number:hover {
  background-color: #555;
  color: #fff;
}
.post-info {
  font-size: 16px;
  color: #bbb;
  margin: 4px 0;
}
.post-date {
  margin: 0 10px;
}
.post-tag {
  text-decoration: none;
  font-size: 16px;
  color: #2c5fa5;
  display: inline-block;
  margin-right: 8px;
  transition: color 200ms ease-out;
}
.post-tag:hover {
  color: #2472e7;
}
.author-face {
  position: relative;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
  overflow: hidden;
}
#likeCode {
  width: 0;
  height: 0;
}
#front-face {
  transform: rotateY(0);
}
#back-face {
  transform: rotateY(180deg);
}
#front-face,
#back-face {
  transition: transform 200ms ease-in;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  backface-visibility: hidden;
}
.author-face img {
  height: 100px;
  width: 100px;
}
#likeCode:checked~.like-btn {
  filter: saturate(100%);
}
#likeCode:checked~.like-btn svg {
  animation: heartbeat 600ms ease-out infinite;
}
#likeCode:checked~.author-face #back-face {
  transform: rotateY(0);
}
#likeCode:checked~.author-face #front-face {
  transform: rotateY(180deg);
}
.like-author {
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.like-btn {
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  line-height: 2em;
  font-weight: bold;
  letter-spacing: 0.1em;
  border: 1px solid #ee4242;
  filter: saturate(40%);
  padding: 6px 30px;
  transition: all 300ms ease-in;
  color: #ee4242;
}
.like-text {
  font-family: sourceHanSerif;
  margin: 0.5em 0 1em;
  font-weight: bold;
  color: #666;
}
.like-btn:hover svg {
  animation: heartbeat 1s ease-out infinite;
}
@media (hover: none) {
  .like-btn svg {
    animation: heartbeat 1s ease-out infinite;
  }
}
.matts {
  cursor: default;
  display: inline-flex;
  background: url("/images/matts.svg") center center/contain no-repeat;
  align-items: center;
  padding: 8px;
  transition: opacity 200ms ease-out;
}
.matts:hover {
  opacity: 0.8;
}
.matts-space {
  display: inline-flex;
  align-items: center;
  padding: 8px;
}
@-moz-keyframes flyInLeft {
  from {
    transform: translateX(-100px);
  }
  to {
    transform: translateX(0);
  }
}
@-webkit-keyframes flyInLeft {
  from {
    transform: translateX(-100px);
  }
  to {
    transform: translateX(0);
  }
}
@-o-keyframes flyInLeft {
  from {
    transform: translateX(-100px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes flyInLeft {
  from {
    transform: translateX(-100px);
  }
  to {
    transform: translateX(0);
  }
}
@-moz-keyframes heartbeat {
  0% {
    transform: scale(0.8);
  }
  20% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0.8);
  }
}
@-webkit-keyframes heartbeat {
  0% {
    transform: scale(0.8);
  }
  20% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0.8);
  }
}
@-o-keyframes heartbeat {
  0% {
    transform: scale(0.8);
  }
  20% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0.8);
  }
}
@keyframes heartbeat {
  0% {
    transform: scale(0.8);
  }
  20% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0.8);
  }
}
.search-outer {
  margin-right: 20px;
  position: absolute;
  right: 0;
}
@media (min-width: 1024px) {
  .search-outer {
    position: static;
  }
}
.nav {
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  height: 90px;
  font-weight: bold;
}
.head--sticky {
  position: fixed;
  left: 0;
  right: 0;
  background: rgba(255,255,255,0.25);
  backdrop-filter: blur(15px) saturate(0.3);
  top: 0;
  z-index: 1;
}
#navBtn {
  top: -100px;
  position: fixed;
  opacity: 0;
  display: block;
  height: 0;
  width: 0;
}
.nav-btn {
  display: none;
}
.nav-logo {
  height: 60px;
  width: 60px;
}
.nav-menu {
  display: flex;
  align-items: center;
}
.nav-menu-item {
  letter-spacing: 0.1em;
  text-decoration: none;
  margin: 0 20px;
}
.nav-menu-item:hover {
  cursor: pointer;
}
@media screen and (max-width: 1023px) {
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background: rgba(255,255,255,0.9);
    z-index: 99;
    justify-content: center;
  }
  .head--sticky {
    position: relative;
    backdrop-filter: none;
    background: none;
  }
  .nav-menu {
    position: fixed;
    top: 60px;
    bottom: 0;
    height: 0;
    transition: height 200ms ease-out;
    left: 0;
    right: 0;
    z-index: 4;
    background: rgba(255,255,255,0.9);
    overflow: hidden;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 40px;
  }
  .nav-menu-item {
    margin: 20px 0;
  }
  .nav-logo {
    height: 40px;
    width: 40px;
  }
  .nav-logo img {
    height: 40px;
    width: 40px;
  }
  .nav-btn {
    display: block;
    position: absolute;
    left: 0;
    padding: 10px 20px;
    height: 40px;
    width: 40px;
  }
  .nav-btn::before,
  .nav-btn::after {
    transition: transform 200ms ease-out;
    content: '';
    background: #333;
    width: 30px;
    height: 2px;
    border-radius: 1px;
    position: absolute;
  }
  .nav-btn::before {
    top: 25px;
  }
  .nav-btn::after {
    bottom: 25px;
  }
  #navBtn:checked ~ .nav-right .nav-menu {
    height: 100%;
  }
  #navBtn:checked ~ .nav-btn::before {
    transform: translateY(4px) rotateZ(45deg);
  }
  #navBtn:checked ~ .nav-btn::after {
    transform: translateY(-4px) rotateZ(-45deg);
  }
}
.nav-right {
  display: flex;
  align-items: center;
}
.foot {
  background-color: #000;
}
.foot-inner {
  color: #aaa;
  margin: 0 auto;
  max-width: 1200px;
  overflow: hidden;
  padding: 40px 0 10px;
}
.foot-item {
  margin: 22px;
  line-height: 40px;
}
.foot__head {
  margin: 0 20px 50px;
  font-size: 36px;
  font-weight: bold;
  font-family: sourceHanSerif;
  cursor: default;
  display: flex;
  flex-wrap: wrap;
}
.foot__head .foot-line {
  margin: 0 10px;
}
.foot__body {
  display: flex;
  flex-wrap: wrap;
}
.foot-item__head {
  font-size: 24px;
  margin: 10px 0;
}
.foot-item__body {
  display: flex;
  flex-wrap: wrap;
  line-height: 2.25rem;
}
.foot-link-group {
  margin: 0 10px;
}
.foot-link {
  display: inline-block;
  padding-left: 8px;
}
.foot-link:hover {
  color: #888;
}
.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 0.8125em;
  color: #555;
}
.copyright a:hover {
  color: #666;
}
.body {
  z-index: 0;
}
.head--sticky ~ .body {
  padding-top: 90px;
}
@media screen and (max-width: 1023px) {
  .body {
    padding-top: 60px;
  }
}
